@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.container {
    border: 1px solid black;
    margin-top: 100px;
    background: #833AB4;
    width: 450px;
    height: 750px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(0, 0, 0, 0.3) -10px 10px, rgba(0, 0, 0, 0.2) -15px 15px, rgba(0, 0, 0, 0.1) -20px 20px, rgba(255, 255, 255, 0.05) -25px 25px;
}

.calculator {
    margin-top: 100px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator>button {
    cursor: pointer;
    font-size: 2rem;
    border: none;
    outline: none;
    margin: 2px;
    background: rgba(255, 255, 255);
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.calculator>button:hover {
    border: 1px solid black;
    background: rgba(255, 255, 255);
    transform: translateY(1px);
}

.calculator>button:active {
    transform: translateY(4px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.allclear,
.equals {
    grid-column: span 2;
}

.screen {
    border: 1px solid black;
    grid-column: 1 / -1;
    background-color: #7da160;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.previous-screen-content,
.current-screen-content {
    color: rgb(0, 0, 0);
    font-size: 2rem;
}